*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.5;
    /* font-family: 'Basic', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.main_content{
    padding: 5em 10em;
    box-shadow: 3px 5px 10px 1px #c5c5c5;
    text-align: center;
}
h3{
    font-size: 1.4rem;
    margin-top: 1em;
}
/* FORM*/

form{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 5px;
    margin: 1em 0;
    padding: 5px;
}
input:focus{
    outline: none;
}
input[type=submit]{
    background-color: dodgerblue;
    color: #fff;
    padding: 6px 0px;
    margin: auto;
    border: none;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.answer{
    margin-top: 1em;
}
/* FOOTER */
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}